@media (max-width: 900px) {
    .blogs-main-new{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr
    }
    .blogs-news-img-container{
        grid-row: 2;
    }

    .blogs-news-info-container{
        grid-column: 1;
        grid-row: 3;
    }

    .blogs-posts-container div{ 
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto;
    }
    .blogs-posts-container h3{
        grid-area: 1 / 1 / 1 / -1;
        
    }

    .profile-info-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .projects-main-container{
        margin: 20px 20px;
    }
    .projects-main-container div{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}


@media (max-width: 600px){
    .blogs-posts-container div{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .projects-main-container div{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}